{:paths ["src/main"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.54"}}
 :aliases
 {:deps
  {:replace-paths []
   :replace-deps
   {org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}}
   :ns-default clojure.tools.cli.api
   :ns-aliases
   {help clojure.tools.cli.help}}
  :cljs
  {:main-opts ["-m" "cljs.main"]}}}
